@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Creepster&family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,600&family=DotGothic16&family=Parisienne&family=Pinyon+Script&display=swap');

/*     font-family: 'Cormorant Garamond', serif;

    font-family: 'Creepster', cursive;

    font-family: 'Crimson Text', serif;

    font-family: 'DotGothic16', sans-serif;

    font-family: 'Parisienne', cursive;

    font-family: 'Pinyon Script', cursive; */


body {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fstockarch.com%2Ffiles%2F13%2F10%2Fspiders_web_on_black.jpg&f=1&nofb=1);
}

.types {
    background-color: white;
}

.gem {
    position: absolute;
    left: 600px;
    top: 1850px;
    z-index: 1;
}

.sheet {
    position: absolute;
    border: 2px dotted red;
    width: 250px;
    height: 250px;
    left: 150px;
    top: 1200px;
}

.third {
    position: absolute;
    border: 2px dotted red;
    width: 250px;
    height: 250px;
    right: 130px;
    top: 850px;
}

.second {
    position: absolute;
    border: 2px dotted red;
    width: 250px;
    height: 250px;
    right: 1010px;
    bottom: 10px;
}

.parent {
    position: absolute;
    border: 2px dashed red;
    width: 250px;
    height: 200px;
    right: 150px;
    bottom: 350px;
}

.overlay {
    display: block;
    width: 200%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity 1s;
}

.byebye {
    position: absolute;
right: 20px;
}

.inspo {
    position: absolute;
    top: 1900px;
    left: 200px;
    border: dotted grey;
    background-color: black;
}
.parent:hover .overlay {
    opacity: 1;
}

.second:hover .overlay {
    opacity: 1;
}

.third:hover .overlay {
    opacity: 1;
}

.sheet:hover .overlay {
    opacity: 1;
}

.underlay {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}


img {
    max-width: 15rem;
}

h1,
h2,
h3 {
    color: red;
    font-family: 'Creepster', cursive;
}

p {
    font-family: 'DotGothic16', sans-serif;
    word-spacing: 5px;
    font-size: small;
}

a {
    color: red;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: red;
}

main {
    color: red;
    max-width: 30rem;
    padding: .5rem;
    margin: 0 auto;
}

footer {
    color: red;
    font-family: 'Parisienne', cursive;
}